---
layout: default
title: lazylife7157
---

<ul class="no-margin-padding no-style">
    {% for post in paginator.posts %}
        <li>{% include post-header.html %}</li>
    {% endfor %}
</ul>

<div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}">prev</a>
    {% else %}
        <span class="previous">prev</span>
    {% endif %}

    <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}">next</a>
    {% else %}
        <span class="next ">next</span>
    {% endif %}
</div>
