body {
    color: $oc-gray-0;
    background-color: $oc-gray-9;

    nav {
        ul {
            li {
                a {
                    color: $oc-gray-0;
                }
                svg {
                    fill: $oc-gray-0;
                }
            }

            li:hover, li.active {
                a {
                    color: $oc-blue-3;
                }
                svg {
                    fill: $oc-blue-3;
                }
            }
        }
    }
}