.horizontal {
    display: flex;
    flex-flow: row;
}

.no-margin-padding {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-flow: column;
    padding: 0.8rem;

    nav, main, footer {
        flex: 0 1 auto;
        padding: 0.8rem 3.2rem;
        border-bottom: 1px solid $oc-gray-7;
    }
}

@media (max-width: 640px) {
    .container {
        nav, main, footer {
            padding: 0.8rem 1.6rem;
        }
    }
}

@media (max-width: 799px) {
    .container {
        flex: 0 1 100vw;
    }
}

@media (min-width: 800px) {
    .container {
        flex: 0 1 85vw;
    }
}

@media (min-width: 1280px) {
    .container {
        flex: 0 1 70vw;
    }
}

@media (min-width: 1920px) {
    .container {
        flex: 0 1 60vw;
    }
}

@media (min-width: 2560px) {
    .container {
        flex: 0 1 50vw;
    }
}
