// $foreground: $oc-gray-0;
// $background: $oc-gray-9;

// $nav-item: $oc-gray-0;
// $nav-item-active: $oc-blue-3;

// $post-title: $oc-gray-3;


body {
    display: flex;
    flex-flow: row;
    justify-content: center;

    margin: 0;
    padding: 0;

    font-family: 'Nanum Gothic Coding', monospace;
}

a {
    text-decoration: none;
    outline: none;
    color: $oc-blue-3;
}

a:hover {
    text-decoration: underline;
}

svg {
    fill: $oc-gray-0;
}

ol.no-style, ul.no-style {
    list-style: none;
}
