main {
    .title {
        // color: $post-title;
        a {
            // color: $post-title;
        }
    }

    .text-with-icon:hover {
        color: $oc-gray-4;
        svg {
            fill: $oc-gray-4;
        }
    }

    .pagination {
        text-align: center;
    }
}
